<!-- Include doctype -->
<% include doctype.ejs %>

<body>
<!-- Include navbar -->
<% include nav.ejs %>

<div class="container">
	<div class="row-fluid">
		<center><h4>Get a new rules !</h4></center>
		<div class="span12">
			<form class="form-inline well" action="/update" method="post">
				
				
				<div class="controls">
					<span>.</span>
					<button type="submit" class="btn btn-primary btn-small pull-right">Update Rules</button>
				</div>
			</form>
		</div>
		
		<hr>
	</div>
</div><!-- container -->

<body>