<nav class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li> <a href="/" class="brand">Node.js Proxy Admin Plateform</a> </li>
			</ul>
		</div>
	</div>
</nav>